@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS PADRÃO */
.button {
  border: none;
  border-radius: 40px;
  background-color: #f1f1f1;
  padding: 8px 12px;
  width: 80px;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: #e7e7e7;
}

ul li {
  list-style: none;
}

/* ESTILO DO HEADER */
header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

i {
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-bar {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
  width: 32%;
  max-width: 50%;
  height: 40px;
  background-color: #fff;
}

.search-bar input {
  width: 100%;
  padding: 10px 50px 10px 15px; /* espaço para o ícone */
  border-radius: 24px;
  border: none;
  outline: none;
  flex-grow: 1;
  height: 100%;
  padding: 0 16px;
  background-color: transparent;
}

input::placeholder {
  font-size: 0.95rem;
}
/* 
input:focus {
  border: 1px solid #025aff;
} */

.search-button {
  border: none;
  background-color: #f1f1f1;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
}

.search-button:hover {
  background-color: #e7e7e7;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 25px;
}

.right-container .avatar, .channel {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* SEÇÃO PRINCIPAL */
main {
  padding: 30px 70px;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

/* VÍDEO PRINCIPAL (PLAYER, BOTÕES DE LIKE, DESLIKE...) */
.video-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.video-container iframe {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.video-container .video-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 20px;
}

.video-container .actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 15px;
}

.video-container .channel-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.channel-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.channel-name {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2px;
}

.subs {
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
}

.subscribe-button {
  width: 159px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #cc0000;
  color: #fff;
  cursor: pointer;

  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-button:hover {
  background-color: #bd0000;
}

.like, .deslike, .share, .download {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.views {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}

.description {
  font-weight: 400;
  font-size: 14px;
}

/* VÍDEOS SUGERIDOS */
.sugeridos {
  /* border: 1px solid orange; */
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.video {
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 100px;
  display: flex;
  align-items: start;
  gap: 12px;
}

.thumbnail {
  /* border: 1px solid green; */
  width: 40%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.video-content {
  /* border: 1px solid blue; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.title {
  font-weight: 600;
  font-size: 14px;
}

.details, .views {
  font-weight: 400;
  font-size: 12px;
}